<div class="container-fluid bg-white contact">
  <div class="row pt-3 justify-content-center mx-3">
    <div class="col-12">
      <h3>Contact</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quis ut, earum eius eaque iure numquam
        soluta perspiciatis quaerat quos quibusdam consectetur itaque? Fugit optio sequi velit, magni quia eligendi?</p>
    </div>
  </div>

  <!--formulario-->
  <div class="bg-light border pt-5 pb-5 w-75 h-50 mx-auto">
    <form>
      <div class="row justify-content-center">
        <label for="colFormLabel" class="col-2 col-form-label"><strong>E-mail</strong></label>
        <div class="col-5 bg-light">
          <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
        </div>
      </div>

      <div class="row justify-content-center text-start pt-3">
        <label for="colFormLabelLg" class="col-2 col-form-label"><strong>Your message</strong></label>
        <div class="col-5">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Pleace enter your message here..."></textarea>
        </div>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-2">
          <button class="btn btn-lg bg-primary p-2 text-white bg-opacity-75" type="button">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>