<!-- your html code here -->
<div class="container bg-white mx-auto p-4">
    <!--Texto-->
      <div class="col-lg-12">
      <h2>contact</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quis ut, earum eius eaque iure numquam soluta
       perspiciatis quaerat quos quibusdam consectetur itaque? Fugit optio sequi velit, magni quia eligendi?</p>
      </div>
      <!--formulario-->
  
      <div class="col-8 border bg-light mx-auto p-2">
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label"><strong>E-mail</strong></label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
        </div>
      </div>
        <div class="row">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label"><strong>Your message</strong></label>
          <div class="col-sm-10">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Pleace enter your message here..."></textarea>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
          <button class="btn btn-lg bg-primary p-2 text-white bg-opacity-75" type="button">Botón</button>
        </div>
      </div>
  
      </div>
  
  </div>