<div class="row">
    <div class="first_heading d-flex bg-white">
        <div class="col-8">
            <span class="fs-2 fw-normal"> <strong>This First Heading</strong> <span class="text-secondary fw-normal"> <strong> Will Catch Your Eye</strong></span></span>
            <p class="fs-4 text-secondary fw-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo minus autem, rem itaque odit distinctio
                aliquam illum aut. Accusamus libero pariatur dolore voluptates id laborum dolorem asperiores, ex
                ratione. Porro inventore veniam illo possimus! Fugit.</p>
        </div>
        <div class="col-4">
        <img class="w-100 h-100 rounded-circle" src="./assets/img/1.jpg" alt="">
        </div>
    </div>
</div>