<!-- your html code here -->
<div class="container-fluid p-5 mb-2 bg-white text-dark">

    <h4>Portfolio</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos iure expedita voluptas deserunt assumenda ullam
        eaque quasi magnam sed, earum eius delectus recusandae obcaecati nobis necessitatibus voluptates! Esse,
        repellat.</p>
    <div class="row mx-auto">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-link">Project Name</button>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ea? Dicta
                        sit molestiae adipisci aliquam.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-link">Project Name</button>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis odit
                        adipisci harum voluptatum commodi ab.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-link">Project Name</button>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui harum est et
                        placeat fugiat delectus.</p>
                </div>
            </div>
        </div>
    </div>

</div>